body{
    margin: 0px;
    background-image: url(/오구배경-초원.jpg);
    background-size: cover;
    background-color: e9f3ff;
    /* background-position-x: 300px; */
    background-position: center ;
    background-repeat: no-repeat;
}
header{
    display: flex;
    justify-content: center;
    margin: 0px;
    border-bottom: 5px solid gray ;
    text-align: center;
    font-size: 30px;
    
    padding: 0px;
    
}
header img{
    margin-left: 15px;
    width: 100px;
    height: 150px;
}
a {
    color: black;
    text-decoration: none;
    margin: 0px;
}
header a{
    color: black;
    text-decoration: none;
}
.grid{
    display: grid;
    grid-template-columns: 200px 1fr;
    text-align: center;
}

nav{
    width: 120px;
    margin-top: 0px;
    padding-right: 50px;
    padding-left: 0px;
    border-right: 3px solid gray;
    
}
nav>ul{
   list-style: none;
    padding-left: 50px;
    
}
nav ul li{
    padding-bottom: 20px;
}
nav>ul>li>a{
    font-size: 15px;
    color: gray;
    text-decoration: none;
    
}
.gifs, .info, .emo{
    margin: 0px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}



.gifs ul, .info ul, .emo ul{
    list-style-type: none;
    
}

.info > ul > li{
    text-align: left;
    line-height: 30px;
}
.info ul img{
    box-shadow:1px 1px 15px gray;
    
}
.info ul hr{
    background-color: gray;
    height: 3px;
    border:2px solid beige;
}
.info ul li p{
    background-color: rgba(176, 186, 195,0.5);
    color: dimgrey;
}
.info-emp{
    position: relative;
    font-weight: bold;
}
.info-emp:hover{
  background: rgba(255, 0, 0, .5);
  transition: background-color 0.2s ease-out 0.2s;
}
.info ul li iframe{
    position: absolute;
    visibility: hidden;
}
.info-img, .info-emp>iframe{
    background-color: white;
    position: absolute;
    transform: translateY(-230px);
    border: 2px solid gray;
    visibility: hidden;
}
.info-emp:hover .info-img {
    transition: 0.2s ease-in-out 0.2s;
    visibility: visible;
}
.info-emp:hover iframe{
    visibility: visible;
    z-index: 1;
}
.gifs ul li, .emo ul li{
    float: left;
    margin: 20px;
    text-align: center;
}

.gifs li h3{
    position: relative;
    margin: 0px;
    width: 366px;
    
    visibility: hidden;
}
.gifs li img{
    border: 1px solid gray;
   
}
.gifs li:hover h3{
   visibility: visible;
   transform: translateY(30px);
   transition: ease-in-out;
   transition-duration: 0.35s;
}
.gifs li:hover img{
    box-shadow: 5px 5px 5px gray;
}

.emo-div{
    position: relative;
    display: flex;
    width: 350px;
    flex-direction: column;
}
.emo-div img{
    border: 1px solid gray;
   
}
.emo-img{
    position: absolute;
    visibility: hidden;
    width: 400px;
    top: -50px;
    left: 350px;
    z-index: 1;
}
.emo-div .emoimg:hover{
    box-shadow: 5px 5px 15px gray;
}

.emo-div img:hover + .emo-img{
    visibility: visible;
   
}
.emo-img:hover{
    visibility: visible;
    
}



footer{
    border-top: 5px solid gray;
    text-align: center;
    background-image: url(/하트오구.png);
    background-size: contain;
    background-position: bottom;
}
#caution{
    position: relative;
    bottom: -60px;
}
#comm{
    text-align: right;
}
#report {
display: flex;
flex-direction: row;
justify-content: center;
}
#report > h3 > a{
color: white;

background-color: rgba(80, 80, 80, .5);
text-decoration: none;
display: block;
width: 300px;
}

